In [1]:
2+2

4

# This is a heading

# python
## Level 01
- variables
- input output
- operators
- datatypes

### level 02
- conditional statements
   - if
   - ifelse
   - elif
   - match
- loops
  - for
  - while
- functions

### level 03
- string
- dict
-list
- set and tuple

In [1]:
age=10
is_married=False
name='bob'
value=1.323

In [2]:
x=10000

In [3]:
x=100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [4]:
x=1000000000000000000000000000000000000000000000
print(x)

1000000000000000000000000000000000000000000000

In [5]:
x=10 ** 5000 #10 to power of 400
print(x)

ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [6]:
x=1.10
y=1.0
z=-35.59
z=87.7e100

In [7]:
name="bruce wayne 01"
color='yellow'
Institute='digipodium'

In [8]:
is_coding=True
is_fun=True
are_u_bored=False

In [6]:
x=None

In [10]:
a=[5,10,15,20,25,30,35,40]
vals=[1,2.2,'python']
colors=['red','green','yellow']

In [11]:
a=(5,10,15,20,25,30,35,40)
vals={1,2.2,'python'}
colors={'red','green','yellow'}

In [12]:
a={5,10,15,20,25,30,35,40}
vals={1,2.2,'python'}
colors={'red','green','yellow'}

In [13]:
car_info={
 "brand":"Ford",
 "model":"Mustang",
 "year":"1964"

}

# Operators
- arithmetic
- assignment
- comparison
- logical
- identify
- membership
- bitwise

## Arithmetic Operators

In [10]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

NameError: name 'y' is not defined

In [15]:
x=2**3+5/3
print(x)

9.666666666666666

In [16]:
y=(3+2)*(5*3)/(3*5)
print(y)

5.0

In [20]:
a=100 # a will get 100
print(a)
a+=15 # add 15 to existing value of a
print(a)
a-=10 # remove 10 from existing value of a
print(a)

100
115
105

In [19]:
a*=10 # multiply 10 with current value of a
a%=5 # store remainder in a after divided current value by 5
print(a)

0

## Comparison Operator

In [22]:
print(x>y)
print(x<y)
print(x==100)
print(x!=30)
print(x>=50)
print(y<=20)
print('hello'=='hellow')
print('Hi'!="HI")
print("this"=='that')

True
False
False
True
False
True
False
True
False

## Logical operators

In [2]:
a = 10
b = 20

In [3]:
a>10 and b>a

False

In [5]:
a>10 or b<20

False

In [6]:
bool(0) # True

False

### empty string

In [8]:
name=input("enter name:")
bool(name)

False

In [9]:
not a

False

### membership operators in and not in

In [10]:
x=[3,56,67,89,23,67,21,278,231,212,6]

In [11]:
10 in x

False

In [12]:
67 in x

True

In [13]:
20 not in x

True

user input 'input(prompt)' => 'string'
type casting -> convert one datatype to another

int() -> convert data into integer
float()-> convert data into float
str() -> convert data into string
list()-> convert data into list
tuple()-> convert data into tuple
bool()-> convert data into boolean
set()-> convert data into set
dict()-> convert data into dictionary

In [14]:
int(10.1111)

10

In [15]:
int(True)

1

In [16]:
int(False)

0

In [7]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [19]:
str(1010)

'1010'

#### back to input function

In [2]:
name=input("enter ur name")
phone=input('enter ur contact:')
age=int(input('enter ur age'))

### wap to calc simple interst

In [12]:
p=int(input('Principale AMT:'))
r=float(input('Rate of interst:'))
t=int(input('Time in years'))
si=p*r*t/100
#print(si)
print(f'principal{p}')
print(f'Rate of interst{r}')
print(f'Time{t}')
print(f'Simple Interst{si}')

principal12000
Rate of interst2.0
Time5
Simple Interst1200.0

In [8]:
# (Task) wap to calc area and circumference of circle using diameter as input

In [ ]:
area=int

In [10]:
area=int(input("Please enter area:"))
circle=float(input("Please enter circle value"))

ValueError: invalid literal for int() with base 10: ''

### displaying information to user

In [11]:
y=input('your name')
x=int(input('how many badges:'))
print(f'{y} got {x} badges')

monika got 2 badges